* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

.book-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 20px;
    text-align: center;
}

.book img {
    width: 100%;
    border-radius: 5px;
}

.book h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.book p {
    margin: 10px 0;
    font-size: 1rem;
}

.book a {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.book a:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}